@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000}
	a:link {color:#9cf}
	a:hover, a:visited:hover {color:#cef}
	a:visited {color:#c9f}
    blockquote {color:#faebbc;background:#2e5df0}
}
body{
	margin:1em auto;
	max-width:40em;
	padding: 0.69em;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}
h1,h2,h3,h4 {
	font-family: Georgia, serif;
	line-height:1.2;
}
img { max-width: 100% }
figcaption {
	text-align:center;
	font-size: 0.8em;
	color: #808080;
}
blockquote {
  font: 1.1em/1.5 serif;
  padding: 8px;
  background: #faebbc;
  color: #2e5df0;
  border-top: 1.5px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
}

code,kbd,pre,samp {
        font-family: monospace;
        font-size: 0.9em;
        overflow-x: auto;
}

@media print{
	body{max-width:100%}
}
.small {font-size: 0.8em}
.tab {padding-left: 2px}
.footnotes { font-size: 0.9em}
.footnote-ref, .footnote-backref {
        background: #efdfcf;
        border-radius: 0.2em;
        padding: 0.15em;
}
.statusOnGoing {
	text-shadow: 1px 1px 2px #0040ff;
	color: #ffbf00;
}
.statusOpen {
	text-shadow: 1px 1px 2px #85fcfc;
	color: #8a0303;
}
.statusDone {
        text-shadow: 1px 1px 2px #ca76b4;
        color: #76ca8c;
}
