@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000}
	a:link {color:#9cf}
	a:hover, a:visited:hover {color:#cef}
	a:visited {color:#c9f}
}
body{
	background: #f3f1ee;
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.6 sans-serif;
}
h1,h2,h3,h4 {
	font-family: serif;
	line-height:1.2;
}
@media print{
	body{
		max-width:none
	}
}
.small {
	font-size: 0.8em;
}
.toc {
	background: #d9dfff;
	padding: 0.1em;
}
